body {
    background-color: transparent;
    margin: 0;
    paddig: 0;
    width: 100%
    font-family: "Helvetica Neue", Helvetica, Arial, SansSerif;
    font-size: 1.8rem;
    color:#111111;
    text-rendering: optimizelegibility;
}

header {
    background: black;
    height: 92px;
    padding: 0 5%;
    width: 90%
    position:absolute;
    z-index: 1000;
}
.bar {
    display: flex;
    justify-content: space-between;

    list-style: none;
    font-size: 1.6rem;
    position: static;
    background: transparent;
    width: auto;
    text-align: center;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;

}
/*logo*/
.logo:hover {
    opacity: 0.5;
}
.logo {
    display: block;
    float: left;

}
.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid darkgrey;
    background-color: white;
}
/*menu*/
.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0px;
    }
.menu li {
    padding: 0 15px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, SansSerif;
    font-size: 1rem;
}
/*links social media */
.social {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px;
}
.social li {
    padding: 0 15px;
}

.open-menu {
    display: none;
}

@media (max-width: 830px) {
    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: black;
        height: 100%;
        overflow-y;
        auto;
        opacity: 1;
    }

    .menu li {
        padding: 0;
    }

    .menu a {
        color: white;
    }

    .open-menu {
        display: block;
        float: right;
        width: 72px;
        height: 62px;
        cursor: pointer;
            }


}